name: CI
on:
  push:
  pull_request:
    branches:
      - main
jobs:
  commit-lint:
    name: Commit-Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
      - name: Yarn Install
        run: yarn install --frozen-lockfile --immutable
      - name: Commit-Lint
        uses: wagoid/commitlint-github-action@v5
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Dagger Build
        uses: dagger/dagger-for-github@v3
        with:
          cmds: |
            project update
            do build
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Dagger Lint
        uses: dagger/dagger-for-github@v3
        with:
          cmds: |
            project update
            do lint
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Dagger Test
        uses: dagger/dagger-for-github@v3
        with:
          cmds: |
            project update
            do test
